* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
  }
  
  ol, ul, li {
    list-style:none;
    display:block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing:0;
  }
  
  a, img {
    border: none;
  }
  
  button, a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
  }

:root {
    --primary-color: #eae9e4;
    --secondary-color: #1c1717;
}

body {
    background-color: var(--primary-color);
}

header {
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    font-size: 24px;
}

.container {
    max-width: 1280px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.index {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    left: -25px;
    top: -15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 50px 10px;
    padding: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.card div:nth-child(2) {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    padding-bottom: 50px;
}

.card p:first-child {
    font-size: 18px;
    letter-spacing: 0.2em;
}

.card p:nth-child(3) {
    margin-top: 65px;
    padding: 0;
    border: 1px solid var(--secondary-color);
    width: 400px;
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 24px;
    margin-left: -40px;
    text-align: center;
}

.button {
    position: absolute;
    right: 0;
    bottom: -44px;
    width: 100%;
    padding: 0px 10px;
    height: 40px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button:hover {
    border-bottom: 1px solid var(--secondary-color);
}

button {
    vertical-align: middle;
    margin-right: 30px;
}

.arrow {
    font-size: 18px;
    vertical-align: middle;
}

.menu.material-icons { font-size: 24px; }
.arrow.material-icons { font-size: 18px; }

@media screen and (max-width: 900px) {
    .container {
        margin: auto 50px;
    }

}